@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html.dark body {
        @apply transition-colors bg-neutral-900 text-white;
    }
    .property-card:hover .property-card-image {
        @apply shadow-md sm:-translate-y-2;
    }
    .property-card:hover .property-purpose-badge {
        @apply sm:-translate-y-2;
    }
    .property-card:hover .property-badge {
        @apply shadow-md;
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        color: #fff;
        display: none !important;
    }
}
