@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'hanson';
        src: url('/Hanson-Bold.woff2') format('woff2');
    }
    html.dark body {
        @apply bg-neutral-900 text-white;
    }
    li {
        margin: 0;
    }
    .property-card:hover .property-card-image {
        @apply shadow-md sm:-translate-y-2;
    }
    .property-card:hover .property-purpose-badge {
        @apply sm:-translate-y-2;
    }
    .property-card:hover .property-badge {
        @apply shadow-md;
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        color: #fff;
        display: none !important;
    }
    .shimmer-loading {
        @apply animate-shimmer;
        background-image: linear-gradient(to right, transparent, transparent, transparent, #404040, transparent, transparent, transparent);
        background-size: 300% 100%;
        background-position-x: left;
    }
}
